$color-white: #ffffff;
$color-background: #EDF0F7;
$color-sidebar-bg: #ffffff;
$color-primary: #20405E;
$color-text: #000000;
$color-text-light: #848486;
$color-border: #e9ecef;
$color-hover: #f7f8fa;
$color-active: #5e72e4;
$color-success: #2dce89;
$color-hover-success: #228b22;
$color-warning: #fb6340;
$color-info: #11cdef;
$color-danger: #ec5353;

.profile {
    position: relative;
    &__info {
        width: 400px;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        box-shadow: -3px 3px #21242b;
        border: 2px solid black;
        border-radius: 6px;
        padding: 26px;

        h5 {
            font-weight: 600;
            font-size: 16px;
        }

        span {
            font-size: 14px;
            color: $color-text-light;
        }
    }

    &__image {
        width: 150px;
        height: 150px;
        border: 2px solid black;
        border-radius: 50%;
        margin: 20px auto;
    }

    &__action {
        &__icon {
            font-size: 20px;
            cursor: pointer;
        }
    }

    &__public-page {
        h5 {
            text-align: center;
            margin-bottom: 30px;
            font-weight: 600;
            font-size: 20px;
        }

        &__component {
            max-width: 800px;
            min-height: 150px;
            max-height: 400px;
            box-shadow: -3px 3px #21242b;
            border: 2px solid black;
            border-radius: 6px;
            padding: 26px;
            margin: 0 auto;
        }
    }


}

.avatar {
    position: absolute;
    width: 500px;
    border-radius: 8px;
    background-color: $color-white;
    &__nav {
        display: flex;
        flex-direction: row;
    }

    &__selection {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__item {
        img {
            width: 80px;
            height: 80px;
            cursor: pointer;
        }
    }
}