$color-white: #ffffff;
$color-background: #EDF0F7;
$color-sidebar-bg: #ffffff;
$color-primary: #20405E;
$color-text: #000000;
$color-text-light: #848486;
$color-border: #e9ecef;
$color-hover: #f7f8fa;
$color-active: #5e72e4;
$color-success: #2dce89;
$color-hover-success: #228b22;
$color-warning: #fb6340;
$color-info: #11cdef;
$color-danger: #ec5353;

.table {
    table {
        width: 100%;
    }

    td {
        padding: 20px 8px;
    }

    &__title {
        span {
            margin-left: 5px;
        }
    }

    &__shared{
        span {
            margin-left: 5px;
        }

    }

    &__action {
        display: flex;

        &__edit {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            color: $color-white;
            border-radius: 5px;
            background-color: $color-success;
            cursor: pointer;
            margin-right: 10px;
        }

        &__delete {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            color: $color-white;
            border-radius: 5px;
            background-color: $color-danger;
            cursor: pointer;
        }
    }
}

.icon{
    font-size: 20px;
}