$color-white: #ffffff;
$color-background: #EDF0F7;
$color-sidebar-bg: #ffffff;
$color-primary: #20405E;
$color-text: #000000;
$color-text-light: #848486;
$color-border: #e9ecef;
$color-hover: #f7f8fa;
$color-active: #5e72e4;
$color-success: #2dce89;
$color-hover-success: #228b22;
$color-warning: #fb6340;
$color-info: #11cdef;
$color-danger: #ec5353;

.header {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 20px 30px;
    font-size: 14px;
    color: $color-text-light;
    border-top: 1px solid $color-border;
    background-color: $color-white;
    border-radius: 10px;
    position: relative;

    &__title {
        &:hover {
            cursor: pointer;
            .header__title__icon {
                color: $color-text;
            }

            span {
                color: $color-text;
            }
        }

        &__icon {
            margin-right: 5px;
        }
        
        span {
            font-size: 18px;
        }
    }

    &__notification {
        position: absolute;
        right: 30px;
        display: flex;
        flex-direction: row;
    }

    &__icon {
        width: 20px;
        height: 20px;
        color: $color-text;
        margin: 0px 10px;
        cursor: pointer;
    }

    &__icon--bell {
        position: relative;
    }

    &__dropdown-menu {
        position: absolute;
        top: 120%;
        right: 0;
        border: 1px solid $color-border;
        background-color: $color-white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
        z-index: 1000;
        min-width: 300px;
        border-radius: 8px;
        padding: 15px;
        
        &__action {
            display: flex;
            flex-direction: row;
        }
    }

    &__sub-card {
        display: flex;
        flex-direction: row;
        min-height: 70px;
        align-items: center;
        border: 1px solid $color-text;
        border-radius: 5px;
        padding: 10px;

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 5px;
        }
    }

    &__sub-card:not(:last-child) {
        margin-bottom: 10px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

        h4 {
            margin-bottom: 5px;
            color: $color-text;
        }

        span {
            margin-bottom: 5px;
            color: $color-text;
        }
    }
}

.dropdown-menu__action {

    button {
        border: none;
        padding: 4px;
        border-radius: 5px;
        color: $color-white;
    }


    &__button--accept {
        background-color: $color-success;
        margin-right: 10px;

        &:hover {
            background-color: $color-hover-success;
        }
    }

    &__button--reject {
        background-color: $color-danger;

        &:hover {
            background-color: red;
        }
    }
}