$color-white: #ffffff;
$color-background: #EDF0F7;
$color-sidebar-bg: #ffffff;
$color-primary: #20405E;
$color-text: #000000;
$color-text-light: #848486;
$color-border: #e9ecef;
$color-hover: #f7f8fa;
$color-active: #5e72e4;
$color-success: #2dce89;
$color-hover-success: #228b22;
$color-warning: #fb6340;
$color-info: #11cdef;
$color-danger: #ec5353;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
    background-color: $color-background;
}

.layout-default {
    display: flex;
    min-height: 100vh;
    background-color: $color-background;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $color-text;

    &__content {
        margin-left: 290px;
        padding: 30px 30px 0 30px;
        min-height: 100vh;
        width: 100%;
    }

    &__main {
        padding: 24px;
        background-color: $color-white;
        border-radius: 10px;
        margin: 30px 0px;
    }

    &__footer {
        text-align: center;
        padding: 16px;
        font-size: 14px;
        color: $color-text-light;
        border-top: 1px solid $color-border;
        background-color: $color-white;
        border-radius: 10px;
    }
}

