$color-white: #ffffff;
$color-background: #EDF0F7;
$color-sidebar-bg: #ffffff;
$color-primary: #20405E;
$color-text: #000000;
$color-text-light: #848486;
$color-border: #e9ecef;
$color-hover: #f7f8fa;
$color-active: #5e72e4;
$color-success: #2dce89;
$color-hover-success: #228b22;
$color-warning: #fb6340;
$color-info: #11cdef;
$color-danger: #ec5353;

.create-note {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 30px;
    font-size: 14px;
    color: $color-text-light;
    border-top: 1px solid $color-border;
    background-color: $color-white;
    border-radius: 10px;
    margin-top: 30px;

    &__title {
        display: flex;
        flex-direction: column;
        text-align: start;

        span {
            color: $color-text;
            font-size: 21px;
            margin-bottom: 15px;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        text-align: start;
        margin-bottom: 15px;

        span {
            color: $color-text;
            font-size: 21px;
            margin-bottom: 15px;
        }
    }

    &__reminder {
        display: flex;
        flex-direction: column;
        text-align: start;
        margin-bottom: 15px;

        span {
            color: $color-text;
            font-size: 21px;
            margin-bottom: 15px;
        }
    }

    &__action {
        margin-left: auto;
        margin-top: 15px;
        margin-bottom: 15px;

        button {
            border: none;
            background-color: black;
            color: $color-white;
            padding: 10px 20px;
            border-radius: 5px;

            &:hover {
                background-color: $color-text-light;
                color: $color-white;
            }
        }
    }

    &__component {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    &__icon {
        display: flex;
        flex-direction: column;
        text-align: start;
        margin-bottom: 15px;

        span {
            color: $color-text;
            font-size: 21px;
            margin-bottom: 15px;
        }

        &__container {
            display: flex;
            flex-direction: row;
        }

        &__btn {
            background-color: $color-white;
            border: 1px solid #000000;
            color: #000000;
            font-size: 21px;
            padding: 5px 15px;
            margin-right: 15px;
            border-radius: 8px;

            &:hover {
                color: $color-white;
                background-color: #000000
            }

            &--active {
                color: $color-white;
                background-color: #000000
            }
        }
    }

    &__priority{
        display: flex;
        flex-direction: column;
        text-align: start;
        margin-bottom: 15px;

        span {
            color: $color-text;
            font-size: 21px;
            margin-bottom: 15px;
        }
    }
}

.close-btn {
    margin-right: 15px;
}

.menuBar {
    display: flex;

    &__textEditor {
        width: 100%;
    }

}